<div style="display: flex;">
  <div style="width: 20%;"></div>
  <div style="width: 70%;">
    <div style="padding: 10px;">
      <div class="form">
        <div class="form">
          <button class="legal-button">Customer Legal Enlity</button>
          <button class="number-button">345678945678</button>
          <h4 class="main-header-services">Service Header</h4>
        </div>
        <div class="form">
          <div class="form-group">
            <label for="password" class="form-label">Partition</label>
            <input type="text" id="password" name="password" required>
          </div>
          <div class="form-group">
            <label for="password" class="form-label">Sub Partition</label>
            <input type="text" id="password" name="password" required class="main-input">
          </div>
        </div>
        <div class="form">
          <span>Status:Active</span>
          <button>X</button>
        </div>
      </div>
      <button>Details</button>
      <div class="form">
        <div>
          <label for="password" class="form-label"> Site Name</label>
          <input type="text" id="password" name="password" required class="main-input">
        </div>
        <div>
          <label for="password" class="form-label"> Site Name</label>
          <input type="text" id="password" name="password" required class="main-input">
        </div>
        <div>
          <label for="password" class="form-label"> Site Name</label>
          <input type="text" id="password" name="password" required class="main-input">
        </div>
        <div>
          <label for="password" class="form-label"> Site Name</label>
          <input type="text" id="password" name="password" required class="main-input">
        </div>
      </div>
      <div>
      </div>
    </div>
    <div style="padding: 10px;">
      <div class="main-section">
        <div class="server-herder">Servies Header</div>
      </div>
      <div>
        <form>
          <div class="form">
            <div class="form-group">
              <label for="username" class="form-label">Servies Nbr</label>
              <select id="role" name="role" required class="main-select">
                <option value="admin">Admin</option>
                <option value="user">User</option>
                <option value="guest">Guest</option>
              </select>
            </div>
            <div class="form-group">
              <label for="password" class="form-label"> Site Name</label>
              <input type="text" id="password" name="password" required class="main-input">
            </div>
            <div class="form-group">
              <label for="username" class="form-label">Site Country</label>
              <select id="role" name="role" required class="main-select">
                <option value="admin">Admin</option>
                <option value="user">User</option>
                <option value="guest">Guest</option>
              </select>
            </div>
            <div class="form-group">
              <label class="form-label">Service Record Type</label>
              <ul class="radio-group">
                <li>
                  <input type="checkbox" id="admin" name="role" value="admin" required>
                  <label for="admin">a service group header</label>
                </li>
                <li>
                  <input type="checkbox" id="user" name="role" value="user" required>
                  <label for="user">a billable service</label>
                </li>
              </ul>
            </div>
          </div>
          <div class="form">
            <div class="form-group">
              <label for="username" class="form-label">Product Code</label>
              <select id="role" name="role" required class="main-select">
                <option value="admin">Admin</option>
                <option value="user">User</option>
                <option value="guest">Guest</option>
              </select>
            </div>
            <div class="form-group">
              <input type="text" id="password" name="password" required class="main-input">
            </div>
            <div class="form-group">
              <label for="username" class="form-label">Product Type</label>
              <select id="role" name="role" required class="main-select">
                <option value="admin">Admin</option>
                <option value="user">User</option>
                <option value="guest">Guest</option>
              </select>
            </div>
            <div class="form-group">
              <input type="text" id="password" name="password" required class="main-input">
            </div>
          </div>
          <div class="form">
            <div class="form-group">
              <label for="username" class="form-label">Start Date</label>
              <input type="date" id="password" name="password" required class="main-input">
            </div>
            <div class="form-group">
              <label for="username" class="form-label">End Date</label>
              <input type="date" id="password" name="password" required class="main-input">
            </div>
            <div class="form-group">
              <label for="username" class="form-label">GL Account Code</label>
              <select id="role" name="role" required class="main-select">
                <option value="admin">Admin</option>
                <option value="user">User</option>
                <option value="guest">Guest</option>
              </select>
            </div>
            <div class="form-group">
              <label for="username" class="form-label">Region Code</label>
              <select id="role" name="role" required class="main-select">
                <option value="admin">Admin</option>
                <option value="user">User</option>
                <option value="guest">Guest</option>
              </select>
            </div>
          </div>
          <div class="form">
            <div class="form-group">
              <label for="username" class="form-label">Sales Channel</label>
              <select id="role" name="role" required class="main-select">
                <option value="admin">Admin</option>
                <option value="user">User</option>
                <option value="guest">Guest</option>
              </select>
            </div>
            <div class="form-group">
              <label for="username" class="form-label">Int/Ext</label>
              <input type="date" id="password" name="password" required class="main-input">
            </div>
            <div class="form-group">
              <label for="username" class="form-label">Service</label>
              <select id="role" name="role" required class="main-select">
                <option value="admin">Admin</option>
                <option value="user">User</option>
                <option value="guest">Guest</option>
              </select>
            </div>
            <div class="form-group">
              <input type="date" id="password" name="password" required class="main-input">
            </div>
            <div class="form-group">
              <label for="username" class="form-label">Fixed price as on</label>
              <input type="date" id="password" name="password" required class="main-input">
            </div>
          </div>
          <div class="form">
            <div class="form-group">
              <label for="username" class="form-label">ORION Template OID</label>
              <input type="date" id="password" name="password" required class="main-input">
            </div>
          </div>
        </form>
      </div>
      <div>
        <div class="main-section">
          <div class="server-herder">Price - Services Record</div>
        </div>
        <div>
          <form action="">
            <div class="form">
              <div class="form-group">
                <ul class="radio-group">
                  <li>
                    <input type="checkbox" id="admin" name="role" value="admin" required>
                    <label for="admin">a service group header</label>
                  </li>
                </ul>
              </div>
              <div class="form-group">
                <ul class="radio-group">
                  <li>
                    <input type="checkbox" id="admin" name="role" value="admin" required>
                    <label for="admin">a service group header</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="form">
              <div class="form-group">
                <label for="username" class="form-label">Product Category </label>
                <select id="role" name="role" required class="main-select">
                  <option value="admin">Admin</option>
                  <option value="user">User</option>
                  <option value="guest">Guest</option>
                </select>
              </div>
              <div class="form-group">
                <label for="username" class="form-label">Exchange Rate</label>
                <select id="role" name="role" required class="main-select">
                  <option value="admin">Admin</option>
                  <option value="user">User</option>
                  <option value="guest">Guest</option>
                </select>
              </div>
            </div>
            <div class="form">
              <div class="form-group">
                <input type="text" id="password" name="password" required class="main-input">
              </div>
            </div>
            <div class="form">
              <div class="form-group">
                <label for="username" class="form-label">Price Unit of Time </label>
                <select id="role" name="role" required class="main-select">
                  <option value="admin">Admin</option>
                  <option value="user">User</option>
                  <option value="guest">Guest</option>
                </select>
              </div>
              <div class="form-group">
                <input type="date" id="password" name="password" required class="main-input">
              </div>
            </div>
          </form>
        </div>
        <div class="main-section">
          <div class="server-herder">Set Services Component</div>
        </div>
        <div>
          <form action="">
            <div class="form">
              <div class="form-group">
                <ul class="radio-group">
                  <li>
                    <input type="checkbox" id="admin" name="role" value="admin" required>
                    <label for="admin">a service group header</label>
                  </li>
                </ul>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>